<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showing list in detail</title>
</head>
<body>
    <h3>listings details</h3>
    <ul>
      <li><%= listing.title %></li> 
      <li><%= listing.description %></li> 
      <li> &#x20B9;<%= listing.price.toLocaleString("en-IN") %></li> <!-- so that comma comes for ruppes-->
      <li><%= listing.location %></li> 
      <li><%= listing.country %></li> 
    </ul>
    <br>
    <a href="/listings/<%= list.id %>/edit">edit</a>
</body>
</html>